spring:
  application:
    name: wallet-service

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5433/wallet_db}
    username: ${DB_USERNAME:wallet_user}
    password: ${DB_PASSWORD:wallet_pass}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  mail:
    host: ${MAIL_HOST:smtp.gmail.com}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME:}
    password: ${MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

# JWT Configuration
jwt:
  secret: ${JWT_SECRET:mySecretKeyForJWTTokenGenerationMustBeAtLeast256BitsLongForSecurity}
  expiration: ${JWT_EXPIRATION:86400000}

# App Configuration
app:
  reset-password:
    frontend-url: ${FRONTEND_URL:http://localhost:5173/reset-password}

server:
  port: ${SERVER_PORT:8080}
