spring:
  application:
    name: wallet-service

  datasource:
    url: jdbc:postgresql://localhost:5433/wallet_db
    username: wallet_user
    password: wallet_pass

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

server:
  port: 8080
